.card {
  height: 100%;
  overflow: hidden;
  background-color: #332424;
}

.descriptionWrapper {
  display: flex;
  padding: 8px;
}

.description {
  flex-grow: 1;
  margin: 0;
  font-size: 14px;
  color: #fff;
}
