.main {
  display: grid;
  width: 100vw;
  margin-top: 50px;
}

.card-enter {
  transform: scale(0);
}

.card-enter-active {
  transition: all .5s ease-in;
  transform: scale(1);
}

.card-exit {
  opacity: 1;
}

.card-exit-active {
  opacity: 0;
  transition: all .5s ease-in;
}

/* @media (max-width: 575px) {
  .main {
    grid-template-columns: 1fr;
  }
} */

@media (max-width: 767px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .main {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1400px) {
  .main {
    grid-template-columns: repeat(6, 1fr);
  }
}
