.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: black;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 16px;
}

.title {
  font-size: 28px;
  color: white;
}

.button {
  font-size: 28px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
}
